<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Doctor">
	
	<resultMap id="resultMedical" type="Medical">
		<id property="mCode" column="M_CODE"/>
		<result property="pNo" column="P_NO"/>
		<result property="pName" column="P_NAME"/>
		<result property="mDate" column="M_DATE"/>
		<result property="empNo" column="EMP_NO"/>
		<result property="empName" column="EMP_NAME"/>
		<result property="mHistory" column="M_HISTORY"/>
		<result property="pAdmissionYN" column="P_ADMISSION_YN"/>
	</resultMap>
	
	<select id="patientList" resultType="Patient">
		SELECT * FROM PATIENT ORDER BY P_NO ASC
	</select>
	
</mapper>
