<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">

	<resultMap type="Notice" id="noticeSelect">
		<result property="nno" column="N_NO"/> 
		<result property="ntitle" column="N_TITLE"/>
		<result property="ncontent" column="N_CONTENT"/>
		<result property="nwriter" column="N_WRITER"/>
		<result property="ncount" column="N_COUNT"/>
		<result property="ndate" column="N_DATE"/>
	</resultMap>
	
	<select id="selectNoticeList" parameterType="string" resultMap="noticeSelect">
		SELECT * FROM NOTICE ORDER BY N_DATE DESC
	</select>
	
		<select id="selectNoticeTotalContents" resultType="_int">
		SELECT COUNT(*) FROM NOTICE
	</select>
	
	<select id="selectOneNotice" parameterType="_int" resultMap="noticeSelect">
		SELECT * FROM NOTICE WHERE N_NO = #{nno}
	</select>
	
	<insert id="insertNotice">
	 	INSERT INTO NOTICE VALUES(SEQ_N_NO.NEXTVAL, #{ntitle}, #{ncontent}, #{nwriter}, DEFAULT, DEFAULT )
	</insert>
	
	<update id="updateNotice" parameterType="notice">
		UPDATE NOTICE SET
			N_TITLE = #{ntitle},
			N_CONTENT= #{ncontent}	
		WHERE N_NO = #{nno}
	</update>
	
	<delete id="deleteNotice" >
		DELETE FROM NOTICE WHERE N_NO = #{nno}
	</delete>
	

</mapper>
