<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="patient">

	<resultMap id="resultPatient" type="Patient">
		<result property="p_phone" column="p_phone" typeHandler="strArrPhoneTypeHandler"/>		
	</resultMap>
	
	<select id="selectPatientList" parameterType="string" resultMap="resultPatient">
		SELECT * FROM PATIENT WHERE P_NAME LIKE CONCAT(CONCAT('%',#{p_name}),'%')
	</select>
		
	<select id="selectUpdatePatient" parameterType="_int" resultMap="resultPatient">
		SELECT * FROM PATIENT WHERE P_NO = #{p_no}
	</select>
	
	<select id="selectWardList" resultType="Ward">
		SELECT W.*, COUNT(A.WARD_CODE) CUR_CAPACITY
			FROM ADMISSION A
			RIGHT JOIN WARD W ON(W.WARD_CODE = A.WARD_CODE)
			GROUP BY A.WARD_CODE, W.WARD_CODE, W.CAPACITY
			ORDER BY W.WARD_CODE
	</select>
	
	<select id="selectWard" resultType="Ward">
		SELECT W.*, W.CAPACITY-COUNT(A.WARD_CODE) AVAILABLE_CAPACITY
			FROM ADMISSION A
			RIGHT JOIN WARD W ON(W.WARD_CODE = A.WARD_CODE)
			GROUP BY A.WARD_CODE, W.WARD_CODE, W.CAPACITY
			ORDER BY W.WARD_CODE
	</select>
		
	<select id="selectWardPatient" parameterType="_int" resultMap="resultPatient">
		SELECT P.*, A.ADMISSION_DATE
			FROM PATIENT P
			JOIN ADMISSION A ON(P.P_NO = A.P_NO)
			WHERE A.WARD_CODE = #{ward_code}
	</select>
	
	<insert id="insertPatient" parameterType="Patient">
		INSERT INTO PATIENT VALUES (
			SEQ_P_NO.NEXTVAL, #{p_name}, #{p_age}, #{p_gender}, 
			#{p_address}, #{p_phone, typeHandler=strArrPhoneTypeHandler}, 
			#{p_rrn},SYSDATE, SYSDATE, DEFAULT, DEFAULT, DEFAULT) 
	</insert>
	
	<insert id="insertAdmission" parameterType="Admission">
		INSERT INTO ADMISSION VALUES (#{p_no}, #{ward_code}, #{admission_date})
	</insert>
	
	<update id="outPatientReceipt" parameterType="_int">
		UPDATE PATIENT SET P_LASTDATE = SYSDATE, P_ACC_YN = 'Y' WHERE P_NO=#{p_no} 
	</update>
	
	<update id="updatePatient" parameterType="Patient">
		UPDATE PATIENT SET 
			P_NAME = #{p_name}, P_AGE = #{p_age}, P_GENDER = #{p_gender}, 
			P_ADDRESS = #{p_address}, P_PHONE = #{p_phone, typeHandler=strArrPhoneTypeHandler}, 
			P_RRN = #{p_rrn} WHERE P_NO = #{p_no}
		
	</update>
	
	<!-- <update id="inPatientReceipt" parameterType="Patient">
		UPDATE PATIENT SET
			P_ADMISSION_YN = 'Y', P_ACC_YN = 'Y'
		WHERE P_NO = #{p_no}
	</update> -->
	
	
</mapper>
